body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.todo-container {
    width: 400px;
    background-color: #fff;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

#taskInput {
    width: 80%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#taskList {
    margin-top: 20px;
}

#taskList li {
    list-style-type: none;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    border-radius: 5px;
}

#taskList li.completed {
    text-decoration: line-through;
    color: rgb(128, 128, 128);
}

#taskList li span {
    flex: 1;
    margin-left: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #003d80;
}

#taskList li.highlighted {
    background-color: red;
}
